    <!-- Forms -->
    <div class="docs-section" id="forms">
      <h6 class="docs-header">Contact Us</h6>
      <p>To find out more about how we can help, please call us on <b>01527 837100</b> or you can write to us at: </br> <b>Office 28, Greenbox, Westernhall road, Stoke Prior, Bromsgrove, B60 4AL</b></p>
      <div class="docs-example docs-example-forms">
        <form>
          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">Your name</label>
              <input class="u-full-width" type="text" placeholder="name" id="exampleEmailInput">
            </div>
            <div class="six columns">
              <label for="exampleEmailInput">Your email</label>
              <input class="u-full-width" type="email" placeholder="email@example.com" id="exampleEmailInput">
            </div>
          </div>
          <label for="exampleMessage">Message</label>
          <textarea class="u-full-width" placeholder="Hi &hellip;" id="exampleMessage"></textarea>
          <input class="button-primary" type="submit" value="Submit">
        </form>
      </div>

</div> <!-- End of Container -->