

<!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

   

 <!--
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        -->
  
<div class="container">
    <section class="header">
      <a href="{{ site.baseurl }}/">
        <img class="ibsec-logo" src="{{ site.baseurl }}/img/logo.png">
      </a>
      <h2 class="main-title">IBSEC is a well established Chartered Building Services Consultancy Practice created in 1983 and has experience in Healthcare, Education, Heritage, Commercial, Retail and Industrial Projects.</h2>
      <div class="value-props row">
        <div class="four columns value-prop">
          <img class="head-value-img" src="{{ site.baseurl }}/img/head-img-1.jpg">
          Strategically located in Worcestershire to serve the West Midlands and South West.
        </div>
        <div class="four columns value-prop">
          <img class="head-value-img" src="{{ site.baseurl }}/img/head-img-2.jpg">
          Enviable reputation, in the Healthcare sector demonstrated by repeat business.
        </div>
        <div class="four columns value-prop">
          <img class="head-value-img" src="{{ site.baseurl }}/img/head-img-3.jpg">
          Proven track record from personal service to NHS trusts over the past 30 years.
        </div>
      </div>
    </section>
    
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/services.html">Services</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/philosophy.html">Philosophy</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/design.html">Design</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/project-management.html">Project Management</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/projets.html">Projets</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>

   
    
 
    

