<div class="background-head-color">
  <div class="container">
    <section class="header">
      <div class="four columns value-prop">
        <a href="{{ site.baseurl }}/">
          <img class="ibsec-logo" alt="IBSEC Logo" src="{{ site.baseurl }}/img/logo.png">
        </a>
       </div>
       <div class="eight columns value-prop header-details">
          <p class="Tel">01527 837100</p>
          <p>Mon - Fri 9am to 5pm</p>
          
          <p class="address">
            Office 28, Greenbox<br> Westernhall road, Stoke Prior<br> Bromsgrove, B60 4AL
          </p>
       </div>
    </section>
  </div>
</div>

<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/services.html">Services</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/philosophy.html">Philosophy</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/design.html">Design</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/project-management.html">Project Management</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/projets.html">Projects</a></li>
      <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/contact.html">Contact</a></li>
    </ul>
  </div>
</nav>


    
    
   
    
 
    

