

<!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

   

 <!--
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        -->
  
<div class="container">
    <section class="header">
      
      <div class="row simple-header">
        <div class="twelve columns">
          <a href="{{ site.baseurl }}/">
                <img class="ibsec-logo" src="{{ site.baseurl }}/img/logo.png">
          </a>
        </div>
      </div>
    </section>
    
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/services.html">Services</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/philosophy.html">Philosophy</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/design.html">Design</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/project-management.html">Project Management</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/projets.html">Projets</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{{ site.baseurl }}/contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>

   
    
 
    

